.card-header {
  background-color: #007bff;
  color: white;
}

.table {
  margin-top: 20px;
}

.text-danger {
  font-size: 0.875em;
  margin-top: 5px;
}
 .tabela{
  width: 80%;
  margin:  2em 10em 0 10em;
 }

 .selected {
  background-color: #f0f0f0;
  font-weight: bold;
}
